<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rustelefonen.no.drikkevett_android">



    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".GoalReached.GoalReachedActivity"/>
        <activity android:name=".GoalReached.SetNewGoalActivity"/>
        <activity android:name=".Guidance.Guidance"/>
        <activity
            android:name=".tabs.history.HistoryActivity"
            android:label="Historikk"/>
        <activity
            android:name=".intro.UserRegistrationActivity"
            android:label="Brukerregistrering">
        </activity>
        <activity android:name=".intro.AlcoholPricingRegistrationActivity"
            android:label="Alkoholpriser"/>
        <activity android:name=".intro.GoalRegistrationActivity"
            android:label="Målsetning"/>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.UserSettingsActivity"
            android:label="Brukerinnstillinger"/>
        <activity android:name=".settings.AlcoholPricingSettingsActivity"/>
        <activity android:name=".settings.GoalSettingsActivity"/>
        <activity android:name=".information.InformationCategoryActivity" android:label="Informasjon"/>
        <activity android:name=".information.InformationListActivity"/>
        <activity android:name=".information.InformationActivity"/>
        <activity android:name=".intro.SuperIntro"/>
        <activity android:name=".intro.WelcomeActivity"/>

        <receiver android:name=".BacWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/bac_widget_provider" />
        </receiver>
    </application>
</manifest>